<div class="row">
  <div
    id="contato"
    class="col-4 text-white bg-secondary border-secondary text-center"
  >
    <p>Contato</p>
    <p>contato.uni@aprenda.ja</p>
    <p>soualuno.uni@aprenda.ja</p>
  </div>

  <div
    id="telefones"
    class="col-4 text-white bg-secondary border-secondary text-center"
  >
    <p>Telefones</p>
    <p>Capitais: (DDD)44558877</p>
    <p>Demais Regiões: 080055226633</p>
  </div>

  <div id="lable" class="col-4 text-white bg-secondary border-secondary">
    <p>
      Copyright &copy; 2020
      <a
        href="https://www.linkedin.com/in/pedro-prado-camargo-5b3765140/"
        style="text-decoration: none; color: aliceblue"
        >pdrZoox</a
      >
    </p>
  </div>
</div>
